<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('LOL Draft Start')"></head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/main.css">
  <script src="/js/main.js"></script>
<body>
	<header th:replace="fragments/header :: header"></header>
	<div id="timer-container" style="text-align:center; font-size: 24px; font-weight: bold; margin-bottom: 20px;">
	  <span id="timer">30</span> 초 남음
	</div>
  <!-- 라인 필터 버튼 -->
  <div id="role-filter">
    <button data-role="ALL">전체</button>
    <button data-role="TOP">탑</button>
    <button data-role="JUNGLE">정글</button>
    <button data-role="MID">미드</button>
    <button data-role="ADC">원딜</button>
    <button data-role="SUPPORT">서폿</button>
  </div>

  <div class="banpick-container">
    <!-- 블루팀 -->
    <div class="team blue-team">
      <div class="ban-row" id="blue-bans"></div>
      <div class="pick-row" id="blue-picks"></div>
    </div>

    <!-- 챔피언 목록 -->
    <div id="champion-list"></div>

    <!-- 레드팀 -->
    <div class="team red-team">
      <div class="ban-row" id="red-bans"></div>
      <div class="pick-row" id="red-picks"></div>
    </div>
  </div>
  <div class="select-button">
	  <button id="select-button">선택</button>
  </div>
  
  <th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>