<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('LOL Draft List')"></head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/simulationList.css}" />
<script th:src="@{/js/simulation/simulationList.js}"></script>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="container">
        <h1>벤픽 시뮬레이션 리스트</h1>
		<form id="dataForm" action="/simulations/detail" method="post">
        	<input type="hidden" id="simulationId" name="simulationId" value="">
		</form>
        <ul class="simulation-list">
            <th:block th:each="simulationSet : ${simulationSets}">
                <li class="simulation-item">
                    <a href="javascript:void(0);" class="simulation-title">
	                    <span class="simulation-date" th:text="${simulationSet.date}" th:data-simulation-id="${simulationSet.simulationId}">2025-05-09</span>
	                    <span class="simulation-total" th:text="${simulationSet.totalSets} + '세트'" th:data-totalSets="${simulationSet.totalSets}">3세트</span>
	                    <button type="button" class="continue-btn" th:data-simulation-id="${simulationSet.simulationId}">이어 만들기</button>
                	</a>
                    <div class="simulation-detail">
                        <div class="bans">
                            <div class="blue-bans">
                                <h4>블루팀 벤픽</h4>
                                <ul>
                                    <th:block th:each="champ : ${simulationSet.blueBanList}">
                                        <li>
                                            <img th:src="'https://ddragon.leagueoflegends.com/cdn/15.9.1/img/champion/' + ${champ} + '.png'" alt="벤픽 이미지">
                                        </li>
                                    </th:block>
                                </ul>
                            </div>

                            <div class="red-bans">
                                <h4>레드팀 벤픽</h4>
                                <ul>
                                    <th:block th:each="champ : ${simulationSet.redBanList}">
                                        <li>
                                            <img th:src="'https://ddragon.leagueoflegends.com/cdn/15.9.1/img/champion/' + ${champ} + '.png'" alt="벤픽 이미지">
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>

                        <div class="picks">
                            <div class="blue-picks">
                                <h4>블루팀 픽</h4>
                                <ul>
                                    <th:block th:each="champ : ${simulationSet.bluePickList}">
                                        <li>
                                            <img th:src="'https://ddragon.leagueoflegends.com/cdn/15.9.1/img/champion/' + ${champ} + '.png'" alt="픽 이미지">
                                        </li>
                                    </th:block>
                                </ul>
                            </div>

                            <div class="red-picks">
                                <h4>레드팀 픽</h4>
                                <ul>
                                    <th:block th:each="champ : ${simulationSet.redPickList}">
                                        <li>
                                            <img th:src="'https://ddragon.leagueoflegends.com/cdn/15.9.1/img/champion/' + ${champ} + '.png'" alt="픽 이미지">
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </th:block>
        </ul>
        <form id="hiddenPostForm" action="/simulations/creat" method="post">
	        <input type="text" id="roomIdInput" name="roomId" value="" placeholder="예: 1234" maxlength='4'>
	        <input type="hidden" id="simulationIdInput" name="simulationId" value="">
			<button type="button" class="enter-room-btn" id="enter-room-btn"> 입장하기 </button>
		</form>
        <a class="create-button">벤픽 시뮬레이션 만들기</a>
    </div>
    
    <!-- 모달 배경 + 모달 박스 포함 -->
	<div id="continueRoomModal" class="modal-overlay" style="display: none;">
	    <div class="modal-box">
	        <h3>방 ID를 입력하세요</h3>
	        <input type="text" id="continueRoomIdInput" placeholder="예: 1234" maxlength='4'/>
	        <div class="modal-buttons">
	            <button type="button" id="continueRoomEnterBtn">입장</button>
	            <button type="button" id="continueRoomCancelBtn">취소</button>
	        </div>
	    </div>
	</div>

    <th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>